/* ===== FONTS ===== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');



/* ===== VARIABLES ===== */
:root {
  --clr-gray: rgb(80, 81, 70);
  --clr-blue: #01ffe6;
  --clr-green: #d2e4c4;
  --clr-yellow: #e4e9b2;
  --clr-white: #e5e3d7;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --shadow: 0 20px 15px rgba(80, 81, 70, 0.3);
}



/* ===== GLOBAL STYLES ===== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-yellow);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}




/* ===== NAVIGATION BAR ===== */
nav {
  background: var(--clr-gray);
  box-shadow: var(--shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-yellow);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-blue);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
  width: 100px;
  border: 1px solid black;
}
.links a {
  color: var(--clr-yellow);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-gray);
  color: var(--clr-blue);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
/* ===== Hide Links by Default ===== */
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
/* ===== TOGGLE Class ===== */
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto; /* === Important for Large Screens === */
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    font-size: 1.33rem;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-blue);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-yellow);
  }
}